main {
  display: flex;
}
p {
  max-width: 600px;
}

figure {
  width: 200px;
  height: 300px;
  border: 1px solid #222;
  overflow: hidden;
}
figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  display: block;
}

/* 
  styles the figcaption element - `transition` "prepares"
  the element for a style change but doesn't trigger it.
*/
figcaption {
  box-sizing: border-box;
  line-height: 1.5em;
  padding: .25em;
  background: rgba( 255, 255, 255, .6 );
  backdrop-filter: blur(4px);
  transform: translateY(0);
  transition: all .5s;
  
  /* the below is awaiting full CSS support */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}
/* 
  hovering over the`figure` element shows the `figcaption` element.
  `transition: all .5s` on `figcaption` above applies to the
  hover styles (in this case only 'transform') over .5 seconds.
*/
figure:hover figcaption {
  transform: translateY(-100%);
}
